.app {
    box-shadow: 2px 2px 10px 0 #979797;
    font-family: sans-serif !important;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.title {
    background-color: #646464;
    color: #fff;
    padding: 20px 0 20px 8px;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(91,91,91,.5);
    position: absolute;
    top: 0;
    z-index: 100;
}

.close-button {
    outline: 0;
    margin-top: -2px;
    padding: 0 8px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-enter-active, .modal-leave-active {
    transition: opacity .2s
}

.modal-enter, .modal-leave-to /* .fade-leave-active для <2.1.8 */ {
    opacity: 0
}

.loading {
    background-image: url(./icons/loading.png);
}